
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-default {
    background-color: #3c8dbc;
    border-bottom: 1px solid rgba(0,0,0,0.25) !important;
}

.navbar-brand {
    color: #FFF !important;
}

#app > .container {
    border: 1px solid #CCC;
    background: #FFF;
    padding: 40px;
}

.post-title {
    font-size: 28px;
    font-weight: bold;
    color: #0091d9;
}

.post-subtitle {
    padding: 15px;
}

.post-content {
    text-align: justify;
}

.comment-count {
    font-weight: bold;
    color: #2a2e2e !important;
}